<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>搜图神器-登录</title>
		<meta name="keywords" content="图片，搜图，图片下载，美图" />
		<meta name="description" content="搜图神器" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Wandering">

        <!-- CSS -->
        <link rel="stylesheet" href="/SearchPictureWeb/static/css/login/reset.css">
        <link rel="stylesheet" href="/SearchPictureWeb/static/css/login/supersized.css">
        <link rel="stylesheet" href="/SearchPictureWeb/static/css/login/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>

        <div class="page-container">
            <div class="logo-bg">
                <img src="/SearchPictureWeb/static/image/logo.png">
                <h2>海量图片&nbsp;想搜就搜</h2>
            </div>
            <div class="login-box">
                <h1>登录</h1>
                <form action="" method="post">
                    <input type="text" name="username" class="username" placeholder="用户名">
                    <input type="password" name="password" class="password" placeholder="密码">
                    <button type="submit">提交</button>
                    <div class="error"><span>+</span></div>
                </form>
            </div>
        </div>
        <div class="footer">
            ©2016&nbsp;PictureSearch Team
        </div>
        <!-- Javascript -->
        <script src="/SearchPictureWeb/views/jquery-2.1.1.min.js"></script>
        <script src="/SearchPictureWeb/static/js/supersized.3.2.7.min.js"></script>
        <script src="/SearchPictureWeb/static/js/supersized-init.js"></script>
        <script src="/SearchPictureWeb/static/js/scripts.js"></script>

    </body>

</html>


